@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Robot',sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
.header{
    max-width: 90vm;
    height: fit-content;
    padding: 15px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    flex-basis: 30%;
    color: green;
    font-weight: 500;
    margin: 3px;
}
h2{
    font-weight: 300;
}
nav{
   
    flex-basis:40% ;

}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    padding: 15px;
    margin-right: 8px;
}

nav ul li a :hover{
    background-color: rgb(240,240,240);
    border-radius: 10px;
    border: none;
}
nav ul li{
    padding: 10px;
}
nav ul li .contact-btn{
    background-color: black;
    color: white;
    border-radius: 10px;

}
.contact-btn:hover{
    background-color: white;
    color: black;
    border: 0,5px solid black;
}


.active-link {
    border-bottom: 3px solid #fce6b4;
}
a{
    text-decoration: none;

}

.title{
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.footer-title{
    font-weight: 500;
    width: 130px;
}



/* show case section */

.container{
    width: 100vw;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom:30px ;
    margin-top: 30px;
    height: fit-content;
}
.col-2{
flex-basis: 4%;
min-width: 400px;
margin: 2%;
padding: 15px;
background-color:rgb(230, 230, 230);
border-radius: 6px;
}
.col-2 img{
    width: 100%;
}
.footer{
    height: fit-content;
    background-color:rgb(229, 234, 221);
    padding: 40px;
}
.sub-footer {
    height: 100px ;
    background-color: rgb(2, 2, 2);
    color: white;
    text-align: center;
    padding: 10px;
}
.col-4{
    flex-basis: 22%;
    min-height: 240px;
    margin: 1%;
}

.col-4-items > small{
    padding: 10px;
}
i {
    font-size: 1.4rem;
    margin-left:10px ;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgb(0, 0, 0 , 0);
}
a{
    color: inherit;
}

.fa-facebook:hover{
    color: blue;
}

.fa-twitter:hover{
    color:lightblue;
}

.fa-instagram:hover{
    color: purple;
}

.fa-snapchat:hover{
    color:gold;
}

/* servicespage */

.boxess{
    background-color: rgb(118, 28, 28);
    border-radius: 6px;

}
.box{
    border: 1px solid gray;
    border-radius: 4px;
}
.icon img{
    width: 100%;
}
.box-one{

display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: #b48008;
}
.box-two{
    background-color: #fffcf6;
}
.btn{
    height: 55px;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    font-family: inherit;
    background-color: rgb(172, 167, 167);
    color: rgb(88, 53, 53);
    border: 1px solid black;
    margin: 10px;
    border-radius: 4px;
}
.btn:hover{
    background-color: rgb(149,148 , 146);
    cursor: pointer;
    transition: all 0.25 ease-in-out;
}



select{
    padding: 20px;
    width: 100%;
    font-size: inherit;
    border: none;
}

@media screen  and (max-width:880px){

    nav ul{
        background-color: #b8c6db;
        background-image: linear-gradient(315deg ,#b8c6db 0%, #f5f7fa,74%);
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: max-height 0,5s;
    }


    nav ul li a{
        display:block;
        margin-right: 20px;
        margin-top:20px;
        margin-bottom:10px;
    }
    
    .logo{
        display: none;
    }
}